.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: rgb(255, 255, 255);
    font-size: 45px;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &:before {
      content: '@Dickson_oche';
      font-family: 'La Belle Aurore', cursive;
      color: #2255ff;
      font-size: 18px;
      font-weight: 700;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    /*&:after {
      content: '@Dickson_oche';
      font-family: 'La Belle Aurore', cursive;
      color: #2255ff;
      font-size: 18px;
      font-weight: 700;
      position: absolute;
      margin-top: 150px;
      margin-left: 350px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }*/

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-weight: 600;
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing: 2px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 2px solid #2255ff;
    border-radius: 5px;
    margin: 25px 5px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: rgba(0, 0, 0, 0.185);
      color: #fff;
    }
  }
}


